.cadastrar-client {
   width: 100%;
  
  
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    .title {
      font-size: 35px;
      font-weight: bold;
      color: #333;
     
    
    }
  
    .section {
      margin-bottom: 20px;
  
      &-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 15px;
        color: #666;
      }
    }
  
    .form-group {
      margin-bottom: 20px;
  
      label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
      }
  
      input,
      textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
      }
  
      input::placeholder,
      textarea::placeholder {
        color: #aaa;
      }
    }
  
    .input-group {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
  
      .input-group-item {
        flex: 1;
        width: 500px;
  
        label {
          margin-bottom: 5px;
     
        }
  
        input {
          width: 100%;
        }
      }
    }
  
    .form-actions {
      display: flex;
      justify-content: space-between;
  
      .btn {
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
  
        &.salvar {
          background: #28a745;
        }
  
        &.sair {
          background: #dc3545;
        }
  
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  

  .section-contatos{
    margin-right: 100px;
  }