.Gerenciamento-main-1{

    background: #f5f4f4;
        border-radius: 8px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
     
        padding: 15px;
        
        width: 100%;
        flex: 1;
        display: block;
       
      
        
}


.Gerenciamento-main-2{

    background: #ffffff;
        border-radius: 8px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
     
        padding: 15px;
       
        gap: 5px;
}
