/* Home.scss */
html, body {
    height: 100%;
    margin: 0;
    overflow: auto;
   
  }
  
  .cabecalho {
    background-color: #fff; 
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    margin-top: 70px;
    margin-left: auto;
    margin-right: 1%;
    /* Ajuste a largura para ser responsiva */
    max-width: 95.5%; /* Limita a largura máxima */
    height: 110px;
    overflow: hidden;
    padding: 20px;
  

   


  
    
   
  }


  
  @media (max-width: 750px) {
    .subcabecalho {
       
  
        max-width: 800px; /* Limita a largura máxima */
        min-height: 670px; /* Define a altura mínima */
      
      }
    
      .cabecalho {
      
        max-width: 800px; /* Limita a largura máxima */
      
      }
  }
  @media (max-width: 450px) {
    .subcabecalho {
    
        margin-right: 5%;
        max-width: 85%; /* Limita a largura máxima */
       max-height: 800px;
      
      }
    
      .cabecalho {
        margin-top: 16.2%;
        max-width: 85%; /* Limita a largura máxima */
        margin-right: 5%;
      }
  }
  