.janelasBackground{
    width: 100%;
    padding: 10px;
    margin: 0px;
    box-sizing: border-box;
    background: rgba(245, 245, 245, 0.1); /* Fundo claro com 70% de opacidade */
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Sombra mais pronunciada */
    height: 900%;
    
}

