.sidebar {
  height: 100vh;
  background-color: #ffffff; /* Fundo branco */
  color: #333333; /* Texto em cinza escuro */
  position: fixed;
  top: 69px;
  left: 0;
  transition: width 0.3s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sombra leve */
  z-index: 1000;
  width: 200px; /* Largura inicial padrão */
  max-width: 300px; /* Limita o tamanho máximo da sidebar a 300px */
  min-width: 50px; /* Tamanho mínimo da sidebar colapsada */

  &.collapsed {
    width: 50px; /* Largura quando colapsada */
    
    .content {
      display: none; /* Esconde o conteúdo quando colapsada */
    }
  }

  .toggle-btn {
    background: none;
    border: none;
    color: #333333;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    align-self: flex-end;
    transition: transform 0.3s;
  }

  .content {
    padding: 0;
    display: flex;
    flex-direction: column; /* Coloca os tópicos um abaixo do outro */
    gap: 0;

    .servidores {
      cursor: pointer;
      display: flex;
      flex-direction: column;
    }

    /* Ajustando a formatação dos tópicos */
    .topic-link, h1 {
      font-weight: normal; /* Remove o negrito */
      display: block;
      text-decoration: none;
      padding: 15px;
      background-color: #ffffff;
      color: #333333;
      border-bottom: 1px solid #e0e0e0;
      font-size: 18px;
      transition: background-color 0.3s;

      &:hover {
        background-color: #f9f9f9;
      }
    }

    .subtopics {
      padding-left: 20px;
      background-color: #f5f5f5;
    }

    .card-link {
      display: block;
      padding: 10px;
      background-color: #ffffff;
      color: #333333;
      font-size: 16px;
      border-left: 3px solid #e0e0e0;
      transition: background-color 0.3s;

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }

  /* Handle para redimensionar */
  .resizer {
    width: 5px; /* Aumenta a largura do handle para facilitar o redimensionamento */
    background-color: #cccccc;
    cursor: ew-resize; /* Muda o cursor para indicar redimensionamento */
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
}

/* Responsividade */
@media (max-width: 750px) {
  .sidebar {
    width: 150px;
    font-size: 10px;
   
  }

  .sidebar.collapsed {
    width: 40px;
  }
 
}

@media (max-width: 430px) {
  .sidebar {
    width: 45%;
  }

  .sidebar.collapsed {
    width: 40px;
  }
}
