
.subcabecalho {
  background-color: #fff; 
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* Ajuste o margin-top para evitar sobreposição */
  margin-left: auto;

  overflow: hidden;
  margin-right: 1%;
    /* Ajuste a largura para ser responsiva */
    max-width: 83.5%; /* Limita a largura máxima */
  height: 810px; /* Define a altura mínima */
  padding: 20px; /* Adiciona padding para espaçamento interno */
  box-sizing: border-box; /* Inclui o padding e a borda no cálculo da largura e altura */


  flex-wrap: wrap; 
  margin-bottom: 5%;

}

@media (max-width: 750px) {
  .subcabecalho {
     

      max-width: 800px; /* Limita a largura máxima */
      min-height: 670px; /* Define a altura mínima */
    
    }
  
    .cabecalho {
    
      max-width: 800px; /* Limita a largura máxima */
    
    }
}
@media (max-width: 450px) {
  .subcabecalho {
  
      margin-right: 5%;
      max-width: 85%; /* Limita a largura máxima */
     max-height: 800px;
    
    }
  
    .cabecalho {
      margin-top: 16.2%;
      max-width: 85%; /* Limita a largura máxima */
      margin-right: 5%;
    }
}
