.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
   /* Remove margens adicionais se houver */
  
  button {
    background-color: #f8f8f8; /* Cor de fundo padrão */
    color: #052244; /* Cor do texto */
    border: none;
    border-bottom: 1px solid #d3d1d1;
    border-radius: 8px; /* Bordas arredondadas */
    padding: 12px 24px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    font-weight: 600; /* Peso da fonte */
    cursor: pointer;
    transition: all 0.3s ease; /* Transição suave para efeitos */
    outline: none;
    width: 200%;
     /* Define uma largura fixa, ajuste conforme necessário */
    text-align: center; /* Centraliza o texto */
    
    /* Sombra para um efeito de profundidade */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &:hover {
      background-color: #fff; /* Cor de fundo no hover */
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Sombra mais forte no hover */
      color: #6e6c6c; /* Cor do texto no hover */
    }

    &:active {
      background-color: #aae1fa; /* Cor de fundo quando pressionado */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Sombra mais leve quando pressionado */
      transform: translateY(2px); /* Efeito de pressionar */
      color: #fff; /* Cor do texto quando pressionado */
    }

    &:disabled {
      background-color: #e0e0e0; /* Cor de fundo para o estado desabilitado */
      color: #9e9e9e; /* Cor do texto para o estado desabilitado */
      cursor: not-allowed; /* Cursor de não permitido */
      box-shadow: none; /* Remove a sombra para o estado desabilitado */
    }
  }
}

/* Responsividade */
@media (max-width: 768px) {
  .button-container button {
    padding: 10px 20px; /* Ajusta o padding para telas menores */
    font-size: 14px; /* Reduz o tamanho da fonte */
    width: 150px; /* Ajusta a largura para telas menores */
  }
}

@media (max-width: 480px) {
  .button-container button {
    padding: 8px 16px; /* Ajusta ainda mais o padding */
    font-size: 12px; /* Reduz o tamanho da fonte */
    width: 120px; /* Ajusta a largura para telas muito pequenas */
  }
}
