.MainGraficoServerContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  
  /* Novo container flexível para alinhar gráficos e ServerHome lado a lado */
  .MainGraficoServerContent {
    display: flex;
    gap: 20px;
    align-items: flex-start; /* Alinha os gráficos e o ServerHome no topo */
  }
  
  .MainGraficoServer-1 {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    position: relative;
    justify-content: center;
    flex: 2; /* Deixa os gráficos ocuparem mais espaço */
    min-width: 300px;
  }
  
  #MainGraficoServer-h1 {
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgb(211, 209, 209);
    text-align: center;
    font-size: 15px;
    padding: 5px;
  }
  
  .scrollWrapper {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
  }
  
  .MainGraficoServer-2 {
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente (caso necessário) */
    gap: 20px;
    overflow-x: hidden; /* Evita a rolagem horizontal */
    scroll-behavior: smooth;
    flex-wrap: nowrap; /* Mantém os itens em linha */
    height: 100%; /* Certifique-se que o container tenha altura */
  }
  
  
  .scrollButton {
    background-color: #f0f0f0;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .scrollButton.left {
    left: 10px; /* Posiciona a seta esquerda dentro do container */
  }
  
  .scrollButton.right {
    right: 10px; /* Posiciona a seta direita dentro do container */
  }
  
  /* Container flexível para o ServerHome */
  .ServerHomeContainer {
   
  gap: 20px;
   
  }
  
  /* Estilos em telas menores */
  @media (max-width: 554px) {
    .MainGraficoContent {
      flex-direction: column; /* Empilha gráficos e ServerHome em telas pequenas */
    }
  
    .MainGraficoServer-2 {
      gap: 0; /* Remove o espaço entre os gráficos */
      overflow-x: hidden;
      scroll-snap-type: x mandatory; /* Navegação suave entre os gráficos */
    }
  
    .MainGraficoServer-2 > div {
      flex: 0 0 100%; /* Um gráfico por vez na tela */
      scroll-snap-align: start; /* Encaixar os gráficos ao rolar */
    }
  
    .scrollButton {
      display: block; /* Exibe as setas de rolagem */
    }
  }
  