.canvas-container {
  width: 500px; /* Ajuste o valor conforme necessário */
  height: 600px; /* Ajuste o valor conforme necessário */
  /* Outros estilos, se necessários */
  display: flex;
  justify-content: center;
 margin-left: 1230px;
 margin-top: -80px;
  position: fixed;
  z-index: 1000;

}
