

.FormDispositivos-1{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    
}

.FormDispositivos-2{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
  
    
 
    .FormDispositivos-2-1{
        
       
    }
}