.container-infoDispositivo{
  display: flex;
  gap: 5px;
  justify-content: space-between;
 flex: 1;

     
 
}
.container-infoDispositivo-1{
  display: flex;
  flex: auto;
  flex-direction: row;
  #porta{
    display: flex;
    flex-direction: row;
  }
}