.infoDispositivo {
  width: 100%;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  padding: 15px;


 
 
}
#container-infoDispositivo{
  display: flex;
  gap: 10px;
  justify-content: space-between;
 flex: 1;

     
 
}
#container-infoDispositivo-1{
  display: block;
 flex: 1;


  #sinal{
    display: flex;
    gap: 6px;
  }
}

#Grafico{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}
#porta{
  margin-top: 5px;
  
}
