.container-infoDispositivo{
  display: flex;
  gap: 5px;
  justify-content: space-between;
 flex: 1;

     
 
}
.container-infoDispositivo-1{
  display: block;
 flex: 1;


  #sinal{
    display: flex;
    gap: 5px;
  }
}

.Grafico{
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-top: 5px;
}
.porta{
  margin-top: 5px;
  
}