# Ignorar arquivos de log
*.log

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db

# Ignorar pastas de dependências
node_modules/
vendor/

# Ignorar arquivos de configuração do IDE
*.iml
.idea/
.vscode/

# Ignorar arquivos de build
/build/
dist/

# Ignorar arquivos temporários
*.tmp
*.temp

# Ignorar arquivos de backup
*~ 
*.bak
